@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.offcanvas-backdrop {
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav-link.border-inactive {
  border-left: 4px solid rgba(0, 0, 0, 0);

  @media (min-width: map-get($grid-breakpoints, md)) {
    // Add properties that only apply at the md breakpoint
    border-left: none;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
  }
}

.nav-link.border-active {
  border-left: 4px solid $interactive-interactive;

  @media (min-width: map-get($grid-breakpoints, md)) {
    // Add properties that only apply at the md breakpoint
    border-left: none;
    border-bottom: 4px solid $interactive-interactive;
  }
}

.nav-link:hover {
  background-color: $core-colors-purple-light;
  color: $nav-link-color !important;
  color: $nav-link-hover-color !important;
}